@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("AnasayfaSlider")
<section class="features-section spad">
    @await Component.InvokeAsync("AnasayfaHizmetler")
    @await Component.InvokeAsync("AnasayfaKategoriler")
</section>

@await Component.InvokeAsync("AnasayfaSonUrunler")

@await Component.InvokeAsync("AnasayfaReferanslar")
