@using E_CommerceProject.Models
@model List<Kategori>

<h5 class="font-weight-semi-bold pt-3">Kategoriler</h5>
<ul class="nav nav-list flex-column">
	@foreach(var i in Model)
	{
		<li class="nav-item"><a class="nav-link" href="/Kategori/KategoriDetay/@i.Id">@i.Adi</a></li>
	}
	
</ul>