<div class="features-ads">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-features-ads first">
                    <img src="~/template/img/icons/f-delivery.png" alt="">
                    <h4>Free shipping</h4>
                    <p>
                        Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
                        esuada aliquet libero viverra cursus.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-features-ads second">
                    <img src="~/template/img/icons/coin.png" alt="">
                    <h4>100% Money back </h4>
                    <p>
                        Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                        aliquet libero viverra cursus.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-features-ads">
                    <img src="~/template/img/icons/chat.png" alt="">
                    <h4>Online support 24/7</h4>
                    <p>
                        Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                        aliquet libero viverra cursus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
